body {
        background-color:seashell;
}

h1 {
        color:seashell;
        text-align: center;
        font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	padding-left:20px;
}

p {
        font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#topbar {
        background-color:deepskyblue;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:80px;
}

#call {
        color:white;
        background-color:#66b9bf;
        padding:10px;
        font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        margin-bottom: 10px;
}